@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 28, 28;
  --background-start-rgb: 249, 249, 249;
  --background-end-rgb: 249, 249, 249;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
